body { 
 	background:url(http://cdn1.ouchpress.com/media/celebrities/149/taylor-swift-22610.jpg) top right no-repeat; background-attachment:fixed; background-size: 100%; background-position: 450px 0px;

 }
 
 h1 { font-family: 'Megrim', cursive; font-weight: bold; font-size: 80px; color: #c96678;}
 h2 { font-family: 'Megrim', cursive; font-weight: 400; font-size: 50px; color: #c96678;}
 p { font-family: 'Didact Gothic', sans-serif; font-weight: 400; font-size: 20px; color: #c96678;}
 
 .jumbotron {
 	background-color: transparent;
 }
 
 #description {
min-height: 400px;

 }
 .col-md-3 {
 	min-height: 250px;