
html{
 	margin-left: 30px;
}
body { 
 	background:url(http://cdn1.ouchpress.com/media/celebrities/149/taylor-swift-22610.jpg) top right no-repeat; 
 	background-attachment:fixed; 
 	background-size: 100%; 
 	background-position: 250px;
 }

.btn-warning {
color: #fff;
background-color: #A45E60;
border-color: #A45E60;
}
 
 h1 { font-family: 'Megrim', cursive; font-weight: 400; font-size: 80px; color: #A45E60;}
 h2 { font-family: 'Megrim', cursive; font-weight: bold; font-size: 28px; color: #A45E60;}
 p { font-family: 'Arial', serif; font-weight: 400; font-size: 15px; color: #585563;}
 
 .jumbotron {
 	background-color: transparent;
 }
 
 #description {
	min-height: 300px;

 }
 .col-md-2 {
 	min-height: 200px;
}

 #footer {
	height:50px;
	position:absolute;
	bottom:20px;
	left:30px;
}

/* unvisited link */
a:link {
    color: #A45E60;
}

/* visited link */
a:visited {
    color: #A45E60;
}

/* mouse over link */
a:hover {
    color: #A45E60;
}

/* selected link */
a:active {
    color: #A45E60;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
